<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcOYrMylBdTFWGSxEWIUCHEBvobWanyBs</string>
	<key>GCM_SENDER_ID</key>
	<string>480974294234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterWeatherApiApp</string>
	<key>PROJECT_ID</key>
	<string>weather-6c6ca</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-6c6ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480974294234:ios:eed36fe38cfa117144a9e3</string>
</dict>
</plist>